{% extends 'layout.html' %}

{% block content %}
<div>
    <header>
        <h1>Lista de Frutas</h1>
        <a href="{% url 'create_product' %}">Create Product</a>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <a href="{% url 'detail_product' item.id %}" class="btn btn-primary btn-sm">Visualizar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}